@media (max-width: 950px) {}

@media (max-width: 768px) {
    .form-container form {
        width: 80%;
    }
    .copy p,
    input,
    .form-container form a {
        font-size: .8em;
    }
}

@media (max-width: 500px) {
    .form-container form {
        width: 100%;
    }
    .copy p,
    input,
    .form-container form a {
        font-size: .7em;
    }
}

@media (max-width: 375px) {}